{% extends 'base.html' %}
{% include 'navbar.html' %}
{% block head %}
    <title>Profile</title>
    
{% endblock %} 


{% block body %}


{{msg}}

<section class="py-5 my-5">
    <div class="container">
        <h1 class="mb-5">Account Settings</h1>
        <div class="bg-white shadow rounded-lg d-block d-sm-flex">
            <div class="profile-tab-nav border-right">
                <div class="p-4">
                    <div class="img-circle text-center mb-3">
                        <img src="static/images/default-profile.png" alt="Image" class="shadow" height="150px">
                    </div>
                    <h4 class="text-center">{{session['user']}}</h4>
                </div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
                        <i class="fa fa-home text-center mr-1"></i> 
                        Account
                    </a>
                    <a class="nav-link" id="details-tab" data-toggle="pill" href="#details" role="tab" aria-controls="details" aria-selected="false">
                        <i class="fa fa-user text-center mr-1"></i> 
                        Details
                    </a>
                    <a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
                        <i class="fa fa-key text-center mr-1"></i> 
                        Password
                    </a>
                    
                    <a class="nav-link" id="notification-tab" data-toggle="pill" href="#notification" role="tab" aria-controls="notification" aria-selected="false">
                        <i class="fa fa-bell text-center mr-1"></i> 
                        Notification
                    </a>
                </div>
            </div>





            <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">

                <!--Account settings form start-->
                <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <form action="/update_account_settings" method="POST" name="changeAcoountSettings" onsubmit="return changeAccountSettings()">
                    <h3 class="mb-4">Account Settings</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>First Name</label>
                                  <input type="text" class="form-control" name="firstname" value="{{session['user']}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Last Name</label>
                                  <input type="text" class="form-control" name="lastname" value="{{session['lastname']}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Email</label>
                                  <input type="text" class="form-control" name="email" value="{{session['email']}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Phone number</label>
                                  <input type="text" class="form-control" name="phone" value="{{session['phone']}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Address</label>
                                  <input type="text" class="form-control" name="address" value="{{session['address']}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>City</label>
                                  <input type="text" class="form-control" name="city" value="{{session['city']}}">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                  <label>Bio</label>
                                <textarea class="form-control" name="bio" rows="4" value="">{{session['bio']}}</textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <input type="submit" class="btn btn-primary btn-md">
                        <!--<button class="btn btn-primary">Update</button>
                        <button class="btn btn-light">Cancel</button>-->
                    </div>
                </form>
                </div>
                <!--Account settings form End-->







                <!--Password Settings start-->
                <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                    <form action="/change_password" method="POST" name="changePass" onsubmit="return changePassword()">
                    <h3 class="mb-4">Password Settings</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Old password</label>
                                  <input type="password" name ="oldpass" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>New password</label>
                                  <input type="password" name ="newpass" class="form-control" minlength="8" maxlength="15" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Confirm new password</label>
                                  <input type="password" name ="confirmpass" class="form-control" minlength="8" maxlength="15" required>
                            </div>
                        </div>
                    </div>
                    <div>
                       <input type="submit" class="btn btn-primary btn-md">
                        
                    </div>
                </form>               
            
                </div>
                <!--Password Settings End-->


                <!--DETAILS FORM START-->
                <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
                    <h3 class="mb-4">Details</h3>

                    {% if role=="bene" %}
                    <!--BENEFICIARY DETAILS FORM START-->
                    <div class = "beneficiary-div">
                        I am a : Beneficiary
                    <div class="row">
                        <form  action="/change_bene_details" method="POST" name="beneficiary-form" >
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Height</label>
                                  <input type="text" name="b-height" class="form-control" value="{{session['height']}}">
                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Weight</label>
                                  <input type="text" name="b-weight" class="form-control" value="{{session['weight']}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            <label>Blood Group:</label>{{session['bloodgroup']}}
                            <div class="form-control">
                                <select class="select-group" id="b-bloodgroup" name = "b-bloodgroup" >
                                    <option value="select">Select</option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                </select>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                  <label>Age</label>
                                  <input type="text" name="b-age" class="form-control" value="{{session['age']}}">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Upload Covid Negative Certificate</label><br>
                                <input id="upload" type="file"><br>
                          </div>
                        </div>
                        
                        <br><br>
                        <input type="submit" value ="Update" class="btn btn-primary btn-md">
                    </form>
                    </div>

                    </div>
                    <!--BENEFICIARY DETAILS FORM END-->

                    {% else %}
                    <!--DONOR DETAILS FORM START-->
                    <div class = "donor-div">
                        I am a : Donor
                        <div class="row">
                            <form  action="/change_donor_details" method="POST" name="donor-form" >
                            <div class="col-md-6">
                                <div class="form-group">
                                      <label>Height</label>
                                      <input type="text" name="d-height" class="form-control" value="{{session['height']}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                      <label>Weight</label>
                                      <input type="text" name="d-weight" class="form-control" value="{{session['weight']}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Blood Group:</label>{{session['bloodgroup']}}
                                    <div class="form-control">
                                       
                                        <select class="select-group" id="d-bloodgroup" name = "d-bloodgroup" >
                                            <option value="select">Select</option>
                                            <option value="A+">A+</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B-">B-</option>
                                            <option value="O+">O+</option>
                                            <option value="O-">O-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="AB-">AB-</option>
                                        </select> 
                                   
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                      <label>Age</label>
                                      <input type="text" name="d-age" class="form-control" value="{{session['age']}}">
                                </div>
                            </div>
                           
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Illness</label>
                                  <textarea class="form-control" name="illness" rows="4">{{session['illnessdetails']}}</textarea>
                              </div>
                            </div>
                            
                            <br><br>
                            <input type="submit" value ="Update" class="btn btn-primary btn-md">
                        </form>
                        </div>
                        </div>
                        <!--DONOR DETAILS FORM END-->

                        {% endif %}
                    <div>
                    </div>
                </div>

                <!--DETAILS FORM END-->
                <div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
                    <h3 class="mb-4">Application Settings</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="app-check">
                                    <label class="form-check-label" for="app-check">
                                    App check
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" >
                                    <label class="form-check-label" for="defaultCheck2">
                                    Lorem ipsum dolor sit.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary">Update</button>
                        <button class="btn btn-light">Cancel</button>
                    </div>
                </div>
                <div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
                    <h3 class="mb-4">Notification Settings</h3>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="notification1">
                            <label class="form-check-label" for="notification1">
                            Get notifications about donor updates 
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="notification2" >
                            <label class="form-check-label" for="notification2">
                               Get notifications regarding latest updates of our website
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="notification3" >
                            <label class="form-check-label" for="notification3">
                                Get reminder notification
                            </label>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary">Update</button>
                        <button class="btn btn-light">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
function changePassword(){
    var passOld = document.changePass.oldpass.value;
    var passNew=document.changePass.newpass.value;
    var confirmPass = document.changePass.confirmpass.value; 
    var password_in_db=session['password'];

    if(passOld==null || passNew==null || confirmPass==null|| passNew=="" ||passOld=="" ||confirmPass==""){
        alert("Empty values!");
        return false;
    }

    if(passOld!=password_in_db){ 
        
        alert("Password old chaecking");
        return false;
    }

    if(passNew!=confirmPass){
        alert("Passwords do not match!");
        return false;
    }

    if(passOld==passNew){
        alert("Password is same as old password!");
        return false;
    } 



    alert("Password Updated!");
    return true;


    

} 





</script>

<script>
    function changeAccountSettings(){
    var firstname = document.changeAcoountSettings.firstname.value;
    var lastname=document.changeAcoountSettings.lastname.value;
    var email = document.changeAcoountSettings.email.value; 
    var phone = document.changeAcoountSettings.phone.value;
    var address=document.changeAcoountSettings.address.value;
    var city = document.changeAcoountSettings.city.value;
    var bio = document.changeAcoountSettings.bio.value;
    var user_in_db=session['user'];
    var email_in_db=session['email'];
    var password_in_db=session['password'];

    if(firstname==null || email==null || phone==null|| address==null ||firstname=="" ||email=="" || phone=="" || address==""){
        alert("First Name,Email id, Phone Number and Address should not be empty ");
        return false;
    }

    if(firstname!=user_in_db){ 
        
        alert("Username cannot be changed");
        return false;
    }

    if(email!=email_in_db){
        alert("Email id cannot be changed");
        return false;
    }
    

    alert("Your Account Settings has been updated successfully!");
    return true;
    

}
</script>

{% endblock %} 